.container{
    display: flex;
    justify-content: space-between;
}
.navbar-house{
    color: #9b9d9e;
    font-size: 160%;
    padding-right: 14.3px;
    padding-left: 14.3px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.375rem;
}
.item{
    color: grey;
    justify-items: stretch;
}
.materias{
    color: #FFFFF0;;
    justify-items: stretch;
}
.logout{
    display: flex;
    justify-content: end;
    background-color: rgba(33,37,41, 1);
    color: #FFFFF0;    
    padding-right: 13px;
}
h6{
    color: white;
}